.Preview {
  /* width: 60%;
  margin: 16px auto;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 1px solid rgb(141, 141, 141);
  box-shadow: 0 3px 4px rgb(224, 224, 224); */
}

.Display {
  color: white;
  background-color: green;
}
